[submodule "tinyagi-rp2350/fatfs"]
	path = tinyagi-rp2350/fatfs
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
[submodule "tinyagi-rp2350/pico_lib"]
	path = tinyagi-rp2350/pico_lib
	url = https://github.com/fhoedemakers/pico_lib.git
